<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </nav>

      <header>
        <h1>WELCOME TO GMC MEME SERVICES</h1>

        <p>Spread joy, make memes, join the laughter revolution with GMC Meme</p>
      </header>
      <section id="video-section">
        <div class="video-container">
          <video autoplay loop muted playsinline>
            <source src="../20240319_1003121.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </section>
      
      <section>
        <h2>About Us</h2>
        <p>
          Welcome to GMC Meme, the funniest token on the Solana blockchain! GMC Meme is not just another meme coin; it's a community-driven project that aims to bring joy and laughter to the crypto world. We believe in the power of memes to connect people and create memorable experiences. With GMC Meme, you're not just investing in a token; you're joining a vibrant community of meme enthusiasts who love to share laughs and make a positive impact..
        </p>

        <h2>TOKENOMICS</h2>
        <div>
          <b>Airdrop: 15% -</b> Airdropped to early supporters and community members to promote widespread adoption and engagement.
         <b> Presale: 5% -</b> Reserved for the presale phase to provide early liquidity and incentivize early investors.
         <b> Marketing and Partnerships: 20% -</b> Allocated for marketing initiatives, partnerships, and collaborations to increase awareness and grow the GMC Meme community.
         <b> Team: 35% - </b>Reserved for the dedicated team behind GMC Meme, incentivizing their ongoing commitment to the project's success.
       <b>   Governance: 5% -</b> Dedicated to governance mechanisms to empower the community to participate in decision-making processes.
         <b> Community Development: 20% -</b> Reserved for community development initiatives, including ecosystem growth, community rewards, and additional charitable contributions.
          </div>
 
      

        <a href="https://t.me/+ZdPjkWawO8pmMDFk" class="cta-button">TELEGRAM</a>
        <a href="https://x.com/gmcadservice?t=K9EBsG5pnwjW4WJPRoFOCQ&s=09" class="cta-button">TWITTER</a>
        <a href="https://t.me/Gmcearn" class="cta-button">CHANNEL</a>
        <a href="#" class="cta-button">BUY GMC MEME</a>
        <a href="#" class="cta-button">GMC MEME ON SOLANA SCAN</a>
      </section>

      <footer>
        Made with 🧡 💚 💙 by Gmc group &copy; 2024 All rights reserved.
      </footer>
    </main>
  </body>
</html>
