<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Our Services</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </nav>
      <h1>Explore Our Services</h1>

      <div>
       <p> <b>Meme Creation Platform:</b>  Get creative and unleash your inner memer with our user-friendly meme creation platform. Express yourself, share your humor, and contribute to the GMC Meme community.</p>
       
       
       
       <p> <b>Community Events:</b> Join us for exciting community events, including meme contests, giveaways, and meme-themed parties. We love to celebrate our community and reward our most dedicated meme makers.</p>
       <p> <b>Charitable Initiatives:</b> At GMC Meme, we believe in giving back. A portion of our proceeds goes towards supporting charitable causes and initiatives that make a difference in the world. Together, we can meme for good!
        </p>
        </div>
      <!-- <p>We offer a variety of services to meet your needs.</p> -->
      <!-- <section class="services">
        <div class="servicebx">
          <h2>Web3 Gaming</h2>
        </div>
        <div class="servicebx">
          <h2>Mobile App</h2>
        </div>
        <div class="servicebx">
          <h2>Integration</h2>
        </div>
        <div class="servicebx">
          <h2>Consultation</h2>
        </div>
      </section> -->

      <footer style="margin-top: 400px">
        Made with 🧡 💚 💙 by Gmc group &copy; 2024 All rights reserved.
      </footer>
    </main>
  </body>
</html>
